<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Arranged Love BookDate</title>
    </head>
    <body>
        <h2>Book Date</h2>
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit">Book</button>
        </form>
        {% else %}
            <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
        {% endif %}
    </body>
</html>
