{% extends 'weddingServices/base.html' %}

{% load staticfiles %}

{% block drop_down_selection %}
    Caterer
{% endblock %}

    
{% block body %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="caterer">
                    <h3 style="color: indianred"><u><b>{{ caterer.shop_name }}</b></u></h3>
                    <b>Phone Number : </b> {{ caterer.phone_number }}<br>
                    <b>Address : </b>{{ caterer.address }}<br>
		    <b>Session Cost : </b>{{ caterer.session_cost }}<br>
                </div>
                <p><div id="map"></div></p>
                <script>
                    function initMap() {
                    var uluru = {lat: {{ caterer.lat }}, lng: {{ caterer.lng }} };
                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 13,
                    center: uluru
                    });
                    var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                    });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsY_-DOp7l_lscYRrdBvl_0c2FixeIWHk&callback=initMap">
                </script>                    
                <p><a class="btn btn-info" href="bookdate">View Slots</a></p>
            </div>
        </div>
    </div>
{% endblock %}
