{% load staticfiles %}
<html>
    <head>
        <title>Arranged Love</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a style="font-family: 'Lobster';color: #CB4154" href="/weddingServices">Wedding Planner</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for florist in florists %}
                    <div class="florist">
                        <h3><a href="{% url 'florist_detail' pk=florist.pk %}">{{ florist.shop_name }}</a></h3>
                        <p><b>Phone Number: </b>{{ florist.phone_number }}</p>
                        <p><b>Address : </b>{{ florist.address }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
