{% extends 'weddingServices/base.html' %}

{% load staticfiles %}

{% block drop_down_selection %}
    Florist
{% endblock %}
    
{% block body %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="florist">
                    <h3 style="color: indianred"><u><b>{{ florist.shop_name }}</b></u></h3>
                    <div class="phone_number"><b>Phone Number : </b>{{ florist.phone_number }}</div>
                    <p><b>Address : </b> {{ florist.address }}</p>
		    <p><b>Session Cost : </b>{{ florist.session_cost }}</p>
                </div>
                <p><div id="map"></div></p>
                <script>
                    function initMap() {
                    var uluru = {lat: {{ florist.lat }}, lng: {{ florist.lng }} };
                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 13,
                    center: uluru
                    });
                    var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                    });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsY_-DOp7l_lscYRrdBvl_0c2FixeIWHk&callback=initMap">
                </script>                    
                <p><a class="btn btn-info" href="bookdate">View Slots</a></p>
            </div>
        </div>
    </div>
{% endblock %}

