{% load staticfiles %}
<html>
    <head>
        <title>Arranged Love</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="page-header">
            <h1><a style="font-family: 'Lobster';color: #CB4154" href="/weddingServices">Wedding Planner</a></h1>
        </div>

        <form method="get" action="{% url 'hall_list' %}">
            <span style="float:right;width: 30%;">
                <p><b>Order By:</b>
                    <select type="select" name="orderby" onChange="form.submit();" onfocus="this.selectedIndex = -1;">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="session_cost">Cost</option>
                        <option value="added_date">Added Date</option>
                    </select>
                </p>
             </span>
        </form>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for hall in object_list %}
                    <div class="hall">
                        <h3><a href="{% url 'hall_detail' pk=hall.pk %}">{{ hall.shop_name }}</a></h3>
                        <p><b>Phone Number:</b> {{ hall.phone_number }}</p>
                        <p><b>Address :</b> {{ hall.address }}</p>
			<p><b>Session Cost : </b>{{ hall.session_cost }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
